/* clone1.css */
 
.modal {
  position:fixed; z-index: 2222;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0,0,0,0.8);
}
.modal_content{
  position:absolute;
  top:50%; transform: translateY(-50%); left:0; right:0;
  margin:auto;
  width:400px; height:300px;
  padding:30px; box-sizing: border-box;
  background-color: #fff;
}
.modal_content > div {
  position:absolute;
  top:0; right:0;
  width:25px; height:25px;
  border:1px solid #333;
}
.modal_content > div > button {
  width:100%; height:100%;
}

#wrap {
  width:100%; height:auto;
}

#headBox {
  position: fixed; z-index: 1500;
  top:0; left:0; right:0;
  margin:auto;
  width:100%; height:59px;
  background-color: #fff;
}
.head_wrap {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:1200px; height:59px;
  margin:auto;
}
h1 {
  width:100px; height:30px;
  background-image: url('../../img/Toss-logo.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}
.gnb_box {
  display: flex;
  gap:3rem;
}
.gnb_box li {
  width:auto; height:30px;
}
.gnb_box li:nth-of-type(6) {
  position: relative;
  margin-left:4rem;
}
.gnb_box li:nth-of-type(6)::before {
  position: absolute;
  right:-1.5rem; top:10%;
  content: "";
  display: block;
  width:2px; height:50%;
  background-color: #ccc;
}
.lang.act {
  color:#ccc;
}
/* -------------------------------------- */
#viewBox {
  width:100%; height:auto;
}
.view_top {
  width:100%; height:auto;
}
.img {
  width:100%; height:1000px;
  background-image: url("../../img/toss-im-web-intro-still-start.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.img2 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(180deg, white 0%, white 59px, rgba(255, 255, 255, 0) 100%);
}
.text {
  position: absolute;
  top: 10rem; left:50%; transform: translateX(-50%);
  text-align: center;
}
.text p {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 3rem;
}
.text button {
  width:160px; height:65px;
  background-color: #3182F6;
  border-radius:50px;
  font-size: 1.2rem;
  font-weight: bold;
  color:#fff;
}
.vibtn {
  position: absolute;
  bottom:10%; left:50%; transform: translateX(-50%);
  width:50px; height:50px;
  animation: armove 1000ms linear infinite;
}
.vibtn button {
  width:100%; height:100%;
  font-size: 3rem;
  color:#777;
}
@keyframes armove {
  0% {
    opacity: 0;
    bottom:12%;
  }
  100% {
    opacity: 1;
  }
}
.view_bot {
  width:100%; height:203px;
  padding:200px 0;
  text-align: center;
  background-color: #F8F8FF;
}
.view_bot p {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}
/* -----con01------------------------------ */
#con01 {
  width:100%; height:auto;
  padding:100px 350px; box-sizing: border-box;
}
.con_.act {
  margin-top: 0;
  opacity: 1;
  transition: all 700ms ease;
}
.con_01 {
  width:100%; height:1400px;
  margin-top:10rem;
  opacity: 0;
}
.con_01_left {
  float:left;
  width:50%; height:100%;
}
.con_01_left p:first-of-type {
  font-size: 1.5rem;
  font-weight: 600;
  color:#3182F6;
  margin-bottom: 2rem;
}
.con_01_left p:last-of-type {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 6rem;
}
.con_01_left div {
  width:500px; height:900px;
}
.con_01_left div div {
  position: relative;
  width:100%; height:100%;
  background-image: url("../../img/sc02-1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.con_01_left div div div {
  position: absolute;
  left:50%; top:50%; transform: translate(-50%, -50%);
  width:62%; height:72%;
  background-image: url("../../img/sc02.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}
.con_01_right {
  float:right;
  width:50%; height:100%;
}
.con_01_right div {
  width:500px; height:900px;
}
.con_01_right div div {
  position: relative;
  width:100%; height:100%;
  background-image: url("../../img/sc01-1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.con_01_right div div div {
  position: absolute;
  left:50%; top:50%; transform: translate(-50%, -50%);
  width:62%; height:72%;
  background-image: url("../../img/sc01.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}
.con_01_right p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
  padding:3rem 0 0 3rem; box-sizing: border-box;
}
/* ----------------con2----------------- */
#con02 {
  width:100%; height:auto;
  padding:100px 350px; box-sizing: border-box;
  background-color: #F8F8FF;
}
.con_02 {
  width:100%; height:1500px;
  margin-top:10rem;
  opacity: 0;
}
.con_02_top {
  width:100%; height:auto;
}
.con_02_top > p:first-of-type {
  color:#3182F6;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.con_02_top > p:last-of-type {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 5rem;
}
.con_02_bot {
  width:100%; height:auto;
}
.con_02_bot > div {
  width:100%; height:500px;
  border-radius: 2rem;
  background-color: #fff;
}
.con02b_top {
  position:relative;
  overflow: hidden;
}
.con02b_top > div {
  position: absolute;
  width:50%; height:100%;
  background-image: url("../../img/sc01-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 0%;
}
.con02b_top > div > div {
  position: absolute;
  top:26%; left:50%; transform: translateX(-50%);
  width:52%; height:72%;
  background-image: url("../../img/sc02_1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 0%;
}
.con02b_top p {
  position:absolute;
  top:50%; left:50%; transform:translateY(-50%);
  font-size: 1.7rem;
  line-height: 1.4;
  font-weight: 600;
}
.con02b_top p span{
  color:#7c7;
}
.con_02_bot div:first-of-type {
  margin-bottom: 2rem;
}
.con02b_bot {
  position:relative;
  overflow: hidden;
}
.con02b_bot div:first-of-type {
  position: absolute;
  top:0; left:0;
  width:300px; height:100%;
  border-radius: 2rem;
  padding:2rem; box-sizing: border-box;
  background-color: #191F28;
}
.con02b_bot div:first-of-type p{
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color:#B0B8C1;
}
.con02b_bot div:first-of-type p span {
  color:#fff;
}
.con02b_bot div:last-of-type {
  position: absolute;
  right:0; top:-30%;
  width:45%; height:100%;
  background-image: url("../../img/sc02_3.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 100%;
}
.con02b_bot > p {
  position: absolute;
  bottom:3rem; left:50%; transform: translateX(-50%);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
}
.con02b_bot > p > span {
  color:#3182F6;
}
/* --------con03------------------------ */
#con03 {
  width:100%; height:1200px;
  padding:100px 350px; box-sizing: border-box;
  background-color: #fff;
}
.con_03 {
  width:100%; height:auto;
  margin-top:10rem;
  opacity: 0;
}
.con_03_left {
  float:left;
  width:50%; height:auto;
}
.con_03_left > p:nth-of-type(1) {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color:#3182F6;
}
.con_03_left > p:nth-of-type(2) {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 14rem;
}
.con_03_left > p:nth-of-type(3) {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.con_03_left > p:nth-of-type(3) span:nth-of-type(2) {
  color:#8B95A1;
}
.con_03_left > p:nth-of-type(3) span:nth-of-type(3) {
  color:#D1D6DB;
}

.con_03_left > p:nth-of-type(4) {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}
.con_03_right {
  float:left;
  position: relative;
  width:50%; height:1000px;
}
.con_03_right > div {
  position: absolute;
  top:0; left:0;
  width:100%;height:100%;
  background-image: url("../../img/sc01-1.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.con_03_right > div > div {
  position: absolute;
  top:50%; left:50%; transform: translate(-50%, -50%);
  width:50%; height:80%;
  background-image: url("../../img/sc03.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}
/* ----------------------con04-------------------- */
#con04 {
  width:100%; height:1700px;
  padding:100px 350px; box-sizing: border-box;
  background-color: #F8F8FF;
}
.con_04 {
  width:100%; height:auto;
  margin-top:10rem;
  opacity: 0;
}
.con_04_top {
  width:100%; height:auto;
}
.con_04_top > p:nth-of-type(1) {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color:#3182F6;
}
.con_04_top > p:nth-of-type(2) {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 6rem;
}
.con_04_mid {
  position: relative;
  width:100%; height:500px;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  background-color: #191F28;
}
.con_04_mid > div {
  position: absolute;
  bottom: -1rem; right:10%;
  width:40%; height:100%;
  background-image: url("../../img/sc04.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}
.con_04_mid > p {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.5;
  padding:2rem; box-sizing: border-box;
  color:#fff;
}
.con_04_mid > p span {
  color: #B0B8C1;
}
.con_04_bot {
  width:100%; height:500px;
  border-radius: 1.5rem;
}
.con_04_bot_left {
  float:left;
  width:48%; height:100%;
  border-radius: 20px;
  background-color: #fff;
}
.con_04_bot_left > p{
  padding:2rem; box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
}
.con_04_bot_right {
  position: relative;
  float:right;
  width:48%; height:100%;
  border-radius: 20px;
  background-color: #ADD1FF;
}
.con_04_bot_right > p{
  padding:2rem; box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
}
.con_04_bot_right > div {
  position: absolute;
  bottom: 0; left:50%; transform: translateX(-50%);
  width:80%; height:80%;
  background-image: url("../../img/sc04-1.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 100%;
}
/* --------------con05--------------------------- */
#con05 {
  width:100%; height:auto;
  padding:200px 350px; box-sizing: border-box;
  background-color: #fff;
}
.con_05 {
  width:100%; height:auto;
  margin-top:10rem;
  opacity: 0;
}
.con_05_top {
  width:100%; height:auto;
}
.con_05_top > p:nth-of-type(1){
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color:#3182F6;
}
.con_05_top > p:nth-of-type(2){
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
}
.con_05_mid {
  position: relative;
  width:100%; height:1000px;
}
.con_05_mid > p:nth-of-type(1){
  position: absolute;
  top:30%; left:10%;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
}
.con_05_mid > p:nth-of-type(2){
  position: absolute;
  top:30%; right:10%;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
}
.con_05_mid > p:nth-of-type(3){
  position: absolute;
  bottom:0; left:50%; transform: translateX(-50%);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
.con_05_mid > div {
  position:absolute; z-index: 5;
  bottom:0; left:50%; transform: translateX(-50%);
  width:50%; height:100%;
  background-image: url("../../img/sc01-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
}
.con_05_mid > div > div {
  position:absolute; z-index: 2;
  top:50%; left:50%; transform: translate(-50%, -50%);
  width:55%; height:60%;
  background-image: url("../../img/sc05.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
}
.con_05_mid > div > ul {
  position:absolute; z-index: 2;
  bottom:17%; left:-43%; 
  width:1200px; height:auto;
}
.con_05_mid > div > ul > li {
  width:150px; height:150px;
  float:left;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
}
.con_05_mid > div > ul > li:nth-of-type(1) {background-image: url("../../img/sc05-01.png");}
.con_05_mid > div > ul > li:nth-of-type(2) {background-image: url("../../img/sc05-02.png");}
.con_05_mid > div > ul > li:nth-of-type(3) {background-image: url("../../img/sc05-03.png");}
.con_05_mid > div > ul > li:nth-of-type(4) {background-image: url("../../img/sc05-04.png");}
.con_05_mid > div > ul > li:nth-of-type(5) {background-image: url("../../img/sc05-05.png");}
.con_05_mid > div > ul > li:nth-of-type(6) {background-image: url("../../img/sc05-06.png");}
.con_05_mid > div > ul > li:nth-of-type(7) {background-image: url("../../img/sc05-07.png");}

/* -----------------con06----------------------- */
#con06 {
  width:100%; height:700px;
  padding:0 350px; box-sizing: border-box;
}
.con_06 {
  position: relative;
  width:100%; height:100%;
  background-color: #777;
}
.con_06 > span {
  position: absolute;
  top:50%; left:50%; transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
}
/* ----------con07------------------------------- */
#con07 {
  width:100%; height:auto;
  padding:200px 350px; box-sizing: border-box;
  background-color: #fff;
}
.con_07 {
  width:100%; height:auto;
}
.con_07_top {
  width:100%; height:auto;
  margin-bottom: 15rem;
}
.con_07_top > p:nth-of-type(1) {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8rem;
}
.con_07_top > p:nth-of-type(2) {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.con_07_top > p:nth-of-type(2) span { color:#8D929A;}
.con_07_top > p:nth-of-type(3) {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
}
.con_07_top > div {
  width:700px; height:800px;
  margin:auto;
  margin-bottom: 5rem;
  background-color: #aaa;
}
.con_07_mid {
  width:100%; height:auto;
  margin-bottom: 15rem;
}
.con_07_mid > div:nth-of-type(1) {
  float:left;
  width:700px; height:800px;
  margin-right: 3rem;
  margin-bottom: 3rem;
  background-color: #aaa;
}
.con_07_mid > div:nth-of-type(2) {
  float:left;
}
.con_07_mid > div:nth-of-type(2) > div {
  width:350px;height: 450px;
  margin-top:8rem;
  margin-bottom: 3rem;
  background-color: #aaa;
}
.con_07_mid > div:nth-of-type(2) > p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
}
.con_07_mid > p {
  display: inline-block;
  width:100%;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}
.con_07_mid > p span {
  color:#8D929A;
}
.con_07_bot > div {
  width:100%; height:700px;
  margin-bottom: 3rem;
  background-color: #aaa;
}
.con_07_bot > p:nth-of-type(1) {
  display: block;
  float:left;
  width:500px; height: auto;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}
.con_07_bot > p:nth-of-type(1) span {
  color:#8D929A;
}
.con_07_bot > p:nth-of-type(2) {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
}
/* ----------con08 ----------------------------- */
#con08 {
  width:100%; height:auto;
  padding:200px 350px; box-sizing: border-box;
  background-color: #F8F8FF;
}
.con_08 {
  width:100%; height:auto;
  margin-top:10rem;
  opacity: 0;
}
.con_08 > p:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: 700;
  color:#3182F6;
  margin-bottom: 1.5rem;
}
.con_08 > p:nth-of-type(2) {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10rem;
}
.con_con08 {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5rem;
  width:100%; height:auto;
}
.con_con08 > div {
  flex: 1 1 40%;
}
.con_con08 > div > div {
  width:130px; height:130px;
  margin-bottom: 2rem;
  border-radius: 20px;
  background-color: #aaa;
}
.con_con08 > div > p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.con_con08 > div > span {
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 1.5;
  color: #8D97A2;
}
/* ----------con09------------------------------ */
#con09 {
  width:100%; height:auto;
  padding:100px 250px; box-sizing: border-box;
  background-color: #000000;
}
.con_09 {
  width:100%; height:auto;
  margin-top:10rem;
  opacity: 0;
}
.con_09_top {
  width:100%; height:auto;
}
.con_09_top > div {
  width:100%; height:1000px;
  background-image: url("../../img/sc09.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.con_09_mid {
  width:100%; height:auto;
  margin-bottom: 15rem;
}
.con_09_mid > p {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color:#fff;
}
.con_09_mid > span {
  display: inline-block;
  width:100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color:#B0B8C1;
}
.con_09_bot {
  display: flex;
  flex-wrap: wrap;
  width:100%; height:auto;
  padding:0 100px; box-sizing: border-box;
  margin-bottom: 10rem;
}
.con_09_bot > div {
  flex:1 1 30%;
}
.con_09_bot > div > p{
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color : #fff;
}
.con_09_bot > div > span{
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #B0B8C1;
}
.con_09_bot > div > div {
  margin-top: 2.5rem;
  width:130px; height:50px;
  border-radius: 10px;
  background-color: #3182F6;
}
.con_09_bot > div > div > a {
  display: block;
  width:100%; height: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 3.3;
  font-weight: 700;
  color:#fff;
}
/* --------------footBox--------------------------- */
#footBox {
  width:100%; height:auto;
  padding:50px 450px; box-sizing: border-box;
  background-color: #191F28;
}
.con_foot {
  width:100%; height:auto;
}
.con_foot_top {
  width:100%; height:auto;
}
.foot_navi_box {
  display: flex;
  column-gap:8rem;
  width:100%; height:auto;
  margin-bottom: 3rem;
}
.foot_navi_box > li > div{
  margin-bottom: 1rem;
  font-weight: 600;
  color:#B0B8C1;
}
.foot_navi_box > li > ul {
  width:100%; height:auto;
}
.foot_navi_box > li > ul > li {
  width:auto; height:auto;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 600;
  color:#6B7684;
}
.foot_navi_box > li > ul > li > a {
  display: block;
  width:auto; height:auto;
}

address p:nth-of-type(1){
  margin-bottom: 1.5rem;
  font-weight: 600;
  color:#B0B8C1;
}
address p:nth-of-type(2) {
  margin-bottom: 3rem;
  font-size: 14px;
  line-height: 1.5;
  color:#B0B8C1;
}
address p:nth-of-type(3) {
  font-size: 14px;
  line-height: 1.5;
  color:#B0B8C1;
}